.project-thumb {
  width: 100%;
  margin-top: 5rem;
}



.project-thumb__image {
  max-width: 100%;
  display: flex;
  justify-content: center;
  height: auto; 
  border-radius: 0.75rem;
  overflow: hidden;
  background: #e3dbce; /* fallback */
  margin-bottom: 5rem;
}

.project-thumb__image img {
  max-width: 1300px;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}


.project-thumb__meta {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.75rem;
}

.project-thumb__title {
  font-family: 'Playfair Display', serif;
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  font-weight: 700;
  color: var(--blue-dark);
  line-height: 1.1;
  margin-bottom: 0.75rem;
}

.project-thumb__role{
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--muted);
}

@media (max-width: 768px) {
  .project-thumb {
    margin-top: 25%;
  }

  .project-thumb__image {
    margin-bottom: 2.5rem;
    aspect-ratio: 4 / 3; /* 👈 slightly taller for mobile */
  }

  .project-thumb__title {
    font-size: 2rem;
  }

  .project-thumb__meta {
    gap: 1rem;
  }

  .project-thumb__role {
    font-size: 1rem;
  }
}
